<html>
  <head>
   <style>
    button.ex1 {
    margin-left: 4cm;
    }
   </style>
    <title>PostExpress</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/> 
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    
    <script src="app.js"></script>

  </head>
  
   

  <!-- rest of template -->


  <body ng-app="postApp">
    <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ui-view></ui-view>
    </div>
    </div>

       <script type="text/ng-template" id="/home.html">
         <div class="page-header">
                <h1>PostExpress</h1>
         </div>

            <div ng-repeat="post in posts track by $index | orderBy: '-posts[$index].upvotes'">
                <a href="#/posts/{{$index}}">{{posts[$index].title}}</a> - upvotes:<span ng-click="incrementVotes($index)">^</span> {{posts[$index].upvotes}}
                <span ng-click="removePost($index)">x</span>
                <div ng-repeat="comment in comments track by $index"> 
                    <form ng-submit="addComment($index)" >

                    Comment:<input type="text" ng-model="comment" />
                           <button  type="submit">submit</button>
                           {{posts[$index].comment}}  
                    </form> 
                </div>    
                 
            </div>
             
            <form ng-submit="addPost()">
                Title:<input type="text" ng-model="title" />
                <button class="ex1" type="submit" style="padding: 5px 10px;">Add Post </button>
            </form>

       </script>  
              
       <script type="text/ng-template" id="/posts.html">
              <div class="page-header">
                <h1>PostExpress</h1>
              </div>
              <div>
                 {{post.title}} - upvotes: {{post.upvotes}}
              </div>
              <span>
                 <a href="#/home">Go back</a>
              </span>
       </script>
  </body>
</html>
           
